---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  title="各種印刷・デザイン｜ヤマトワークス"
  description="軽印刷をメインに掲載しておりますが、印刷物ならなんでもできます！なんて言っていいのだろうか！？とりあえず、聞くのはタダなんだから・・・"
  keywords="印刷,デザイン,横断幕,エアー看板,のれん,ダンボール,チラシ,ステッカー"
>
  <div class="sub-menu visible-md">
    <div class="wrapper">
      <ul>
        <li><a href="#catch">何でもどんとこーい！</a></li>
        <li><a href="#slip">伝票</a></li>
        <li><a href="#pvc">会員・ポイントカード</a></li>
        <li><a href="#flag">のぼり、横断幕</a></li>
        <li><a href="#packing">ダンボール・梱包材</a></li>
      </ul>
    </div>
  </div><!-- /.sub-menu -->

  <div class="stage odd" id="catch">
    <div class="wrapper print-catch">
      <h2 class="title">何でもどんとこーい！</h2>
      <h3 class="sub-title">
        軽印刷をメインに掲載しておりますが、<br />印刷物ならなんでもできます！<span class="hidden-xs">なんて言っていいのだろうか！？</span><br />とりあえず、聞くのはタダなので・・・<br /><a
          href={`${import.meta.env.BASE_URL}contact/`}
        >
          > お問合せフォーム
        </a>を使ってくれ！
      </h3>
      <div>
        <a href={`${import.meta.env.BASE_URL}bizcard/`}>名刺・カード</a> / 二つ折り名刺・カード / 型抜きカード / 特殊加工カード / トレーディングカード / 横断幕・大型出力 / フラッグ・のぼり / エアー看板
        / 会員カード（プラスチック） / 販促用マグネット / 商品タグ / はがき / <a href={`${import.meta.env.BASE_URL}envelope/`}>オリジナル封筒</a> / シール・ステッカー / チラシ・フライヤー / カタログ /
        ポスター / 中綴じ冊子 / 無線綴じ冊子 / メニュー印刷 / USBメモリ / カレンダー / うちわ / 付箋(ポストイット) / ダンボール箱 / マウスパッド / Tシャツ・ウェア / オリジナルタオル / 名入れボールペン
        / 刺繍キャップ / 帽子・キャップ / 似顔絵
      </div>
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->

  <div class="stage even" id="slip">
    <div class="wrapper print-slip">
      <h2 class="title">伝票</h2>
      <div class="columns clearfix">
        <div class="column-right">
          <img class="align-center" src={`${import.meta.env.BASE_URL}img/print_img-slip.png`} alt="伝票" />
        </div>
        <div class="column-left">
          <h3 class="sub-title">事業に必須となる伝票<br />単式・複写式両方に対応</h3>
          <p>事業を営んでいると必要な、名刺・封筒、そして伝票。単式伝票から複写式伝票まで、いろいろなタイプに対応いたします。</p>
          <div>さらに詳しく知りたい、あるいはご質問等ございましたら、お気軽に<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>よりお問い合わせください。</div>
        </div>
      </div><!-- /.columns -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->

  <div class="stage odd" id="pvc">
    <div class="wrapper print-pvc">
      <h2 class="title">会員・ポイントカード</h2>
      <div class="columns clearfix">
        <div class="column-left">
          <img class="align-center" src={`${import.meta.env.BASE_URL}img/print_img-pvc.png`} alt="会員・ポイントカード" />
        </div>
        <div class="column-right">
          <h3 class="sub-title">磁気テープ・ナンバリング・バーコード<br />プラスチックカードの<br />あらゆるオプションあり！</h3>
          <p>一般的なプラスチックカードによく使われるナンバリング・サインパネルを始め、エンボスナンバーや磁気テープなどさまざまなオプションがございます。</p>
          <div>さらに詳しく知りたい、あるいはご質問等ございましたら、お気軽に<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>よりお問い合わせください。</div>
        </div>
      </div><!-- /.columns -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->

  <div class="stage even" id="flag">
    <div class="wrapper print-flag">
      <h2 class="title">のぼり・横断幕</h2>
      <div class="columns clearfix">
        <div class="column-right">
          <img class="align-center" src={`${import.meta.env.BASE_URL}img/print_img-flag.png`} alt="のぼり・横断幕" />
        </div>
        <div class="column-left">
          <h3 class="sub-title">店舗や催し物会場で目にする<br />のぼりが1本3,300円から作れる！<br />話題のエアー看板・横断幕もあり！</h3>
          <p>店舗の前や催し物会場、不動産物件などでよく目にするのぼり。一般的な旗タイプ・円形タイプののぼりから横断幕・エアー看板など、宣伝・広告に関するさまざまなものをご用意しております。</p>
          <div>さらに詳しく知りたい、あるいはご質問等ございましたら、お気軽に<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>よりお問い合わせください。</div>
        </div>
      </div><!-- /.columns -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->

  <div class="stage odd" id="packing">
    <div class="wrapper print-packing">
      <h2 class="title">ダンボール・梱包材</h2>
      <div class="columns clearfix">
        <div class="column-left">
          <img class="align-center" src={`${import.meta.env.BASE_URL}img/print_img-packing.png`} alt="ダンボール・梱包材" />
        </div>
        <div class="column-right">
          <h3 class="sub-title">60～200サイズまでの<br />ダンボールをご用意！印刷も可能！<br />ロゴや商品名でアピールを！</h3>
          <p>宅配便で利用される60サイズから200サイズまでの色々なサイズやフルオーダーのダンボールも作成可能です。また、ロゴや商品名・社名・会社情報などをどの面にも印刷でき、少量印刷にも対応。</p>
          <div>さらに詳しく知りたい、あるいはご質問等ございましたら、お気軽に<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>よりお問い合わせください。</div>
        </div>
      </div><!-- /.columns -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->
</Layout>
