---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="伝統文様（和柄）サンプル｜ヤマトワークス" description="" keywords="">
  <div class="stage odd">
    <div class="wrapper wagara-sample">
      <h2 class="title">伝統文様（和柄）</h2>
      <p class="contact-link">
        これはサンプルです。<br />ご希望にそったデザインも行います。<br />詳しくは、<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>より<span class="hidden-xs">
          お問合せください。
        </span>
      </p>
      <ul>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/bisyamonkikou_off.png`} alt="毘沙門亀甲" /><p>毘沙門亀甲</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/gohonbou_off.png`} alt="五本棒に鎖繋ぎ" /><p>五本棒に鎖繋ぎ</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/gyougikomon_off.png`} alt="行儀小紋" /><p>行儀小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/hanakarasippou_off.png`} alt="花柄七宝" /><p>花柄七宝</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/hanaseigaiha_off.png`} alt="花青海波" /><p>花青海波</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/hanasippou_off.png`} alt="花七宝" /><p>花七宝</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/hikitakanoko_off.png`} alt="匹田鹿子" /><p>匹田鹿子</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/hosisippou_off.png`} alt="星七宝" /><p>星七宝</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/inazumamon_off.png`} alt="稲妻門" /><p>稲妻紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kanokosibori_off.png`} alt="鹿子絞り" /><p>鹿子絞り</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kesidama_off.png`} alt="芥子玉" /><p>芥子玉</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kikaikumosibori_off.png`} alt="機械蜘蛛絞り" /><p>機械蜘蛛絞り</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kikouhanabisi_off.png`} alt="亀甲花菱" /><p>亀甲花菱</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kikunokikou_off.png`} alt="菊の亀甲" /><p>菊の亀甲</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kikuseigaiha_off.png`} alt="菊青海波" /><p>菊青海波</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/komonnosippou_off.png`} alt="小紋の七宝" /><p>小紋の七宝</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/komotikikou_off.png`} alt="子持ち亀甲" /><p>子持ち亀甲</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kumikikou_off.png`} alt="組亀甲" /><p>組亀甲</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/kumotatewaku_off.png`} alt="雲立涌" /><p>雲立涌</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/namitatewaku_off.png`} alt="波立涌" /><p>波立涌</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/raimon_off.png`} alt="雷紋" /><p>雷紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/samekomon_off.png`} alt="鮫小紋" /><p>鮫小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/samekomon2_off.png`} alt="鮫小紋" /><p>鮫小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/sameseigaiha_off.png`} alt="鮫青海波" /><p>鮫青海波</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/sankomon_off.png`} alt="さん小紋" /><p>さん小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/sansippou_off.png`} alt="霰七宝" /><p>霰七宝</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/seigaiha_off.png`} alt="青海波" /><p>青海波</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/sippoutunagi_off.png`} alt="七宝繋ぎ" /><p>七宝繋ぎ</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/sumitateyotume_off.png`} alt="隅立て四つ目" /><p>隅立て四つ目</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/tatewakunokomon_off.png`} alt="立涌の小紋" /><p>立涌の小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/usunomemon_off.png`} alt="臼の目文の小紋" /><p>臼の目文の小紋</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/watigaiasanoha_off.png`} alt="輪違い麻の葉" /><p>輪違い麻の葉</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/web_yagasuri_off.png`} alt="矢絣柄" /><p>矢絣柄</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/web_yukiwa_off.png`} alt="雪輪" /><p>雪輪</p></li>
        <li><img src={`${import.meta.env.BASE_URL}img/wagara/yukiwa-seigaiha_off.png`} alt="雪輪青海波" /><p>雪輪青海波</p></li>
      </ul>
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->
</BaseLayout>
