---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="筆文字サンプル｜ヤマトワークス" description="" keywords="">
  <div class="stage odd">
    <div class="wrapper fude-sample">
      <h2 class="title">筆文字</h2>
      <p class="contact-link">
        これはサンプルです。<br />ご希望にそったデザインも行います。<br />詳しくは、<a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a>より<span class="hidden-xs">
          お問合せください。
        </span>
      </p>
      <div class="sample-yoko">
        <h3 class="brackets-title">横サンプル</h3>
        <table>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/001.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/002.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/003.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/004.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/005.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/006.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/007.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/008.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/009.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-yoko/010.png`} alt="" /></td>
          </tr>
        </table>
      </div><!-- sample-yoko -->
      <hr />
      <div class="sample-tate">
        <h3 class="brackets-title">縦サンプル</h3>
        <table>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/001.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/002.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/003.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/004.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/005.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/006.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/007.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/008.png`} alt="" /></td>
          </tr>
          <tr>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/009.png`} alt="" /></td>
            <td><img src={`${import.meta.env.BASE_URL}img/fude-tate/010.png`} alt="" /></td>
          </tr>
        </table>
      </div><!-- sample-tate -->
    </div><!-- /.wrapper -->
  </div><!-- /.stage -->
</Layout>
