---
// src/components/FooterMenu.astro
---

<footer>
	<div class="wrapper"></div>
	<ul class="footer-navi">
		<li><a href={`${import.meta.env.BASE_URL}/`}><i class="fa fa-home" aria-hidden="true"></i></a></li>
		<li><a href={`${import.meta.env.BASE_URL}web/`}>WEB制作</a></li>
		<li><a href={`${import.meta.env.BASE_URL}print/`}>各種印刷＆デザイン</a></li>
		<li><a href={`${import.meta.env.BASE_URL}pc/`}>パソコンサポート</a></li>
		<li><a href={`${import.meta.env.BASE_URL}contact/`}>お問合せフォーム</a></li>
		<li><a href={`${import.meta.env.BASE_URL}law/`}>特定商取引に関する表記</a></li>
	</ul>
</footer>
