---
// src/layouts/BaseLayout.astro

// import "../styles/global.css";
// import "../styles/font-awesome.min.css";
import HeaderMenu from "../components/HeaderMenu.astro";
import FooterMenu from "../components/FooterMenu.astro";

interface Props {
	title: string;
	description: string;
	keywords: string;
	robots?: string;
	bodyClass: string;
	showFooter: boolean;
}
const { title, description, keywords, robots = "index, follow", bodyClass = "", showFooter = true } = Astro.props as Props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content={robots} />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		{keywords && <meta name="keywords" content={keywords} />}
		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-NDPVPZL");
		</script>
		<!-- End Google Tag Manager -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
		<link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/style.css`} />
		<link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/font-awesome.min.css`} />
		<slot name="head" />
	</head>
	<body class:list={[bodyClass]}>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDPVPZL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div class="top">
			<header class="wrapper header clearfix">
				<div class="site">
					<h1 class="logo">
						<a href={`${import.meta.env.BASE_URL}`}>デザイン・WEB制作｜ヤマトワークス</a>
					</h1>
					<p class="hidden">和風名刺は日本伝統文様を施したもので、きもの/華道/茶道の日本伝統文化を支える方たちのアイテムとし最適。</p>
				</div><!-- /.top -->
				<HeaderMenu />
			</header>
		</div><!-- /.top -->

		<main>
			<slot />
		</main>

		{showFooter && <FooterMenu />}

		<div class="bottom">
			<div class="wrapper">
				<div class="copyright">
					copyright &copy; <span id="year"></span> ヤマトワークス. <span class="hidden-xs">All right reserved.</span>
					<span id="year">{new Date().getFullYear()}</span>
				</div>
				<div class="pagetop"><a href="#">pagetop</a></div>
			</div><!-- /.wrapper -->
		</div><!-- /.bottom -->
		<Fragment set:html={`<script src="${import.meta.env.BASE_URL}js/main.js" defer></script>`} />
		<Fragment set:html={`<script type="module" src="${import.meta.env.BASE_URL}js/analytics.js"></script>`} />
	</body>
</html>
