---
// src/layouts/ErrorLayout.astro

const { title, errorNumber, errorName, errorMessage, robots = "index, follow" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content={robots} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}styles/error.css`} />
  </head>
  <body>
    <div class="footer-push">
      <div class="contents">
        <div class="contents-inner">
          <div class="ques"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div>
          <h1>{errorNumber}</h1>
          <h2>{errorName}</h2>
          <h3>{errorMessage}</h3>
          <p class="back-previous"><a href="javascript:history.back()" aria-label="前のページに戻る">前のページに戻る</a></p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>番犬：<a href="https://twitter.com/yamazo32">@yamazo32</a></p>
    </div>
  </body>
</html>
